<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>spellcheck</title>
  <script type="module" crossorigin src="/assets/js/index-BYwVeI31.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/js/@xmldom-DBEIMRBk.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-87inLI7G.js">
  <link rel="modulepreload" crossorigin href="/assets/js/scheduler-CzFDRTuY.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-dom-CosTHhxT.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@babel-CRFnVEoO.js">
  <link rel="modulepreload" crossorigin href="/assets/js/fflate-EnPhvkmS.js">
  <link rel="modulepreload" crossorigin href="/assets/js/jspdf-cGIlQrZ8.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@remix-run-CGjFHglr.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-router-ri5stJUf.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-router-dom-Bk36vaWp.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-is-DUDD-a5e.js">
  <link rel="modulepreload" crossorigin href="/assets/js/clsx-B-dksMZM.js">
  <link rel="modulepreload" crossorigin href="/assets/js/hoist-non-react-statics-DQogQWOa.js">
  <link rel="modulepreload" crossorigin href="/assets/js/stylis-YPZU7XtI.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@emotion-Ca6BSwXP.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-transition-group-DGTJP9RM.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@mui-BzP58hmc.js">
  <link rel="modulepreload" crossorigin href="/assets/js/axios-CCb-kr4I.js">
  <link rel="stylesheet" crossorigin href="/assets/css/index-DZwANdgG.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>