<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>spellcheck</title>
  <script type="module" crossorigin src="/static/assets/js/index-BIPZnKqu.js"></script>
  <link rel="modulepreload" crossorigin href="/static/assets/js/@xmldom-DBEIMRBk.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-87inLI7G.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/scheduler-CzFDRTuY.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-dom-CosTHhxT.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/@remix-run-6JyqD-Ks.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-router-Dmqo_v03.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-router-dom-B2CxWi0d.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/lodash-BOf1oiLx.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/parchment-Crftfyop.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/fast-diff-Az_-rVRq.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/lodash.clonedeep-Dbfj2Hht.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/lodash.isequal-KULglXUe.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/quill-delta-D6FENnLs.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/eventemitter3-DJ6nYskT.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/lodash-es-BKPNmaDy.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/quill-CZy4Qc3w.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-quill-new-P7oPFw6w.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/axios-CCb-kr4I.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-is-DUDD-a5e.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/clsx-B-dksMZM.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/hoist-non-react-statics-DQogQWOa.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/@babel-DuB8yAtz.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/stylis-YPZU7XtI.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/@emotion-D5W7hg8W.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-transition-group-CJLDkAA4.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/@mui-DeBKTWUs.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/underscore-b--1-EUR.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/base64-js-D0UyVEDn.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/jszip-BmYNtbIh.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/xmlbuilder-MWHHUJUD.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/dingbat-to-unicode-Cm9PDbSb.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/option-Dhni4At5.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/lop-DvYkyT-y.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/mammoth-C9NdgNHr.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/jwt-decode-VWaDGczM.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-table-Dma02od8.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/prop-types-BKNjMPK8.js">
  <link rel="modulepreload" crossorigin href="/static/assets/js/react-csv-CQ7_wXVR.js">
  <link rel="stylesheet" crossorigin href="/static/assets/css/react-quill-new-BvFojYd1.css">
  <link rel="stylesheet" crossorigin href="/static/assets/css/index-D1r14HFu.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>