<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>spellcheck</title>
  <script type="module" crossorigin src="/kaagunitha/assets/js/index-CKbVKAJQ.js"></script>
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-DbtEuUu-.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/scheduler-CWG1rEj-.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-dom-DcXkIZDy.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/@babel-BUfJX6lK.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/fflate-B2WnmEVw.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/iobuffer-BmLRrqXH.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/pako-n3Pgozwg.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/fast-png-RHEe-ix0.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/jspdf-DEnQ8Zhn.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/@remix-run-sy-dwM7X.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-router-ChRMN3_C.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-router-dom-Cm8LtOuy.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/clsx-B-dksMZM.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/prop-types-Bw6xMO8O.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/reselect-HBGHfvfV.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-is-Rj29YxKv.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/hoist-non-react-statics-BTNdDy0I.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/stylis-YG1R7XFf.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/@emotion-CK8GFU5m.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/@popperjs-DC5wud4b.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/react-transition-group-DV1q_uKQ.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/@mui-Q8RKV1MB.js">
  <link rel="modulepreload" crossorigin href="/kaagunitha/assets/js/axios-C0Zqfgkc.js">
  <link rel="stylesheet" crossorigin href="/kaagunitha/assets/css/index-vYpHYxwm.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>