<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>spellcheck</title>
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
  <script type="module" crossorigin src="/assets/js/index-DUrtrxEo.js"></script>
  <link rel="modulepreload" crossorigin href="/assets/js/rolldown-runtime-CMxvf4Kt.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@babel-uernTMTm.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@emotion-DK_u0lgs.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@mui-tTv_4GdZ.js">
  <link rel="modulepreload" crossorigin href="/assets/js/base64-js-C31AJCsn.js">
  <link rel="modulepreload" crossorigin href="/assets/js/buffer-DL3CshzO.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-dom-DgsWr-Ky.js">
  <link rel="modulepreload" crossorigin href="/assets/js/@remix-run-D21nQfeM.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-router-D9qX_kF6.js">
  <link rel="modulepreload" crossorigin href="/assets/js/react-router-dom-DNtFjQ5l.js">
  <link rel="modulepreload" crossorigin href="/assets/js/axios-BIVoskyj.js">
  <link rel="modulepreload" crossorigin href="/assets/js/apiClient-BHm0VCMl.js">
  <link rel="stylesheet" crossorigin href="/assets/css/index-T6fyB1xv.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>